@import './header.css';
@import './footer.css';
@import './form.css';
@import './posts.css';

body{
    background-color: rgb(247,217,215);;
    color: rgb(7,6,6);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}   

button{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    width: 150px;
    height: 40px;
    border-color: transparent;
    border-radius: 10px;
    color: rgb(247,217,215);
    background-color: rgb(251,131,131);
    text-transform: uppercase;
    box-shadow: 7px 5px 4px rgb(204,108,108);
}

button:hover{
    cursor: pointer;
    color: rgb(251,131,131);
    background-color: rgb(247,217,215);
}

